.btn-nav {
    color: $very_dark_cyan;
    background: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding-left: 2rem;
    padding-right: 2rem;
    &:hover {
      color: $grayish_blue;
    }
  }

.btn-pink{
  color: white !important;
  background-color: $pink;
  padding: 0.7rem 3rem;
  &:hover{
    background-color: hsl(322, 100%, 80%);
  }
}