.bg {
  background: url(/images/bg-hero-mobile.svg);
  min-height: 100vh;

  
}

.hero {
  margin-top: 5rem;
  p{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 768px) {
  .bg {
    background: url(/images/bg-hero-desktop.svg);
  }

  .btn-pink{
    margin-left: 2rem;
  }
}
